:root {
    --colores: #808080;
}

.menu {
  text-align: center;
}

h1 {
  font-family: 'Orbitron';
  font-size: 22px;
  display: inline;
}

a sup {
  color: red;
  font: 10px monaco, monospace;
}

.colors td{
  border-bottom-color: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0.3em;
  font-family: 'Bai Jamjuree';
  font-size: 0.8em;
  color: white;
  text-align: center;
}

table {
  overflow: auto;
  color: black;
  line-height: 1.5;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  word-wrap: break-word;
  border-bottom-color: #ddd;
  -webkit-box-shadow: 0 1px 3px #eee;
  -moz-box-shadow: 0 1px 3px #eee;
  box-shadow: 0 1px 3px #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#colorbox {
  background-color: var(--colores);
  padding-bottom: 5em;
  border-radius: 0.2em;
}

.btn {
  background-color: var(--colores); 
  color: white;
  border-radius: 6px;
  border: inherit;
}

.hex{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  text-align: center;
  background: none;
  border: none;
  font-family: 'Bai Jamjuree';
  font-size: 1em;
}