:root {
    --colores: #808080;
}


.special {
    color: white;
    text-align: center;
    border-radius: 1em;
}

.special2 {
    text-align: center;
    font: 15px monaco, monospace;
}

h1 {
    font-family: 'Orbitron';font-size: 22px;
}

table {
  overflow: auto;
  color: black;
  line-height: 1.5;
  display: block;
  float: left;
  clear: left;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  max-width: 85%; /*(1)*/
  max-width: -webkit-calc(100% - 42px);
  max-width: -moz-calc(100% - 42px);
  max-width: calc(100% - 42px); /*(2)*/
  max-height: 300px;
  word-wrap: break-word;
  border-bottom-color: #ddd;
  -webkit-box-shadow: 0 1px 3px #eee;
  -moz-box-shadow: 0 1px 3px #eee;
  box-shadow: 0 1px 3px #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 1em;
    background: #b0b0b0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  #colorbox {
    background-color: var(--colores);
    padding-bottom: 5em;
    border-radius: 0.2em;
  }
  
  td {
    padding: 0.2em 1em 0.2em 1em;
  }

  .colors {
    border-bottom-color: #ddd;
    -webkit-box-shadow: 0 1px 3px #eee;
    -moz-box-shadow: 0 1px 3px #eee;
    box-shadow: 0 1px 3px #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0.4em;
    font-family: 'Bai Jamjuree';font-size: 0.8em;
  }
